  *{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}
  .text_primary{
    color: #FD6E0A;
  }

  .header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
  }

  /* header section style strat now */
  .nev_title{
    font-size: 45px;
    font-weight: 800;
  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 180px;
  }

   nav ul{
    display: flex;
    align-items: center;
   }

   nav ul li{
    list-style: none;
    margin-right: 50px;
   }

   nav ul li:last-child{
    margin-right: 0;
   }

    .btn{
    padding: 10px 28px;
    background: #FD6E0A;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    cursor: pointer;
    transition: .4s ease;
   }

   .btn:hover{
    background: transparent;
    color: #FD6E0A;
   }

   /* banner section style strat now */
   .main-column{
    display: flex;      
    align-items: center;
    margin: 0 180px;
   }

   /* .main-column img{ 
    align-items: right;
   }*/

   .banner .banner-sub-title{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    line-height: 62px;
   }

    .banner .banner-title{
    font-weight: 700;
    font-size: 53px;
    line-height: 100px;
    color: #181818;
    }

    .banner p{
        color: #757575;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 40px;
    }

    .banner a{
        text-decoration: none;
        margin-right: 25px;
        margin-top: 30px;
    }

    .banner .file{
        font-size: 20px; 
        text-align: center;
        background: #FD6E0A;
        color: #fff;
        padding: 12px 30px;
        border: 1px solid #FD6E0A;
        border-radius: 5px;
        transition: .4s ease;
        /* position: relative; */
    }

    .banner .file:hover{
      background: transparent;
      color: #FD6E0A;
    }

  /* .banner .file::after{
    content: '\f019';
    position: absolute;
    left: 25px;
    transform: translateX(-50%);
    top: 12px;
  } */

    .banner .phone{
      font-size: 20px; 
      text-align: right !important;
      background: #ffffff;
      border: 1px solid #FD6E0A;
      color: #FD6E0A;
      padding: 12px 35px;
      border: 1px solid #FD6E0A;
      border-radius: 5px;
      transition: .4s ease;
      /* position: relative; */

  }

  .banner .phone:hover{
    background: #FD6E0A;
    color: #ffffff;
  }

  /* .banner .phone::after {
    content: '\f095';
    position: absolute;
    left: 25px;
    transform: translateX(-50%);
    top: 12px;
} */

/* main section style strat now */

/*  golubal comment strat now */
main{
  max-width: 1140px;
  margin: 0 auto;
}
section{
  margin-top: 120px;
  margin-bottom: 100px;
}

.pages-title{
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  line-height: 48px;
  margin-bottom: 30px;
  text-align: center;
}

/* golubal comment end */

.about-section{

  background: #FFF8F3;
  padding: 130px 155px;

}

/* .about-section .about-title{

} */

.about-section .about-description{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #757575;
  text-align: center;
  margin-bottom: 30px;
}

 .about-main-column{
  display: flex;
  justify-content: space-around;
}

.about-info .info-title{
  font-size: 20px;
  /* font-weight: 400; */
  line-height: 30px;
  text-align: center;
  color: #757575;
}

.about-info .info-description{
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #474747;
}
/* wehat i do section strat now */
.what-description {
  max-width: 900px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #757575;
  padding-bottom: 25px;
}

.skile-main-column{
  display: flex;
  gap: 24px;
}

.skile-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #181818;
  padding: 25px 0;
}

.skile-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

  .skile-column{
  width: 267px;
  height: 360px;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

/* resume-content section strat now */
.resume-content{
  display: flex;
  gap: 60px;
}

.resume-item{
  width: 550px;
  border-bottom: 1px solid #D1D1D1;
  margin: 20px 0;
}

.resume-item:last-child{
  border-bottom: 1px solid #fff;
}

  .resume-content .resume-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #474747;
}

  .resume-item .title{  
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: #474747;
  margin-bottom: 10px;
}

.resume-item .sub-title{  
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #757575;
  margin-bottom: 20px;
}

.resume-item .descripton{  
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  padding-bottom: 30px;
  text-align: left;
}

.resume-btn{
  text-align: center;
  margin-top: 10px;
}

.resume-btn a{
  text-decoration: none;
  align-items: center;
}

.btn-primary{
  padding: 12px 36px;
  background: #FD6E0A;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #FD6E0A;
  cursor: pointer;
  transition: .4s ease;
 }

 .btn-primary:hover{
  background: transparent;
  color: #FD6E0A;
 }

 /* contact style now */

 .main-contact-column{
  display: flex;
  gap: 100px;
  background: #FFF8F3;
  padding: 120px 200px;
 }

  .contact .section-title{
  font-weight: 700;
  font-size: 26px;
  line-height: 48px;
  text-align: left;
  color: #181818;
  margin-bottom: 20px;
}

  .contact .social-description{
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #474747;
}

 .contact input[type="text"], input[type="email"],textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
    color: #181818;
 }
 
 input{
    height: 64px;
 }

 .contact .btn-primary{
  padding: 10px 45px;
  font-size: 20px;
 }

 .contact a{
  text-decoration: none;
 }

 .contact img{
  font-size: 30px;
  margin-right: 30px;
  margin-top: 30px;
  transition: .4s ease;
 }

 .contact img:hover{
  opacity: .7;
 }
